# Python / Poetry
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
.env
.venv
venv/
.envrc
poetry.lock

# Docker / system
Dockerfile
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo
*.DS_Store

# Logs
*.log
